body {
    background-color: rgb(125, 0, 163);
    text-align: center;
    border-radius: 180px;
    border-style: groove;
background-image: url("eva.webp");

}
.cartao img {
    width: 500px;  
    background-color: blue;
    margin:auto

}

p, h1, h2 {
    color: rgb(255, 0, 0);
}
